

<form [formGroup]="set_cre" (ngSubmit)="closeModel()" class="login-wrapper">

  <div class="login-card">

    <div class="login-header">
      <h2>Agent Login</h2>
      <p>Welcome back, please login to your account</p>
    </div>

    <div class="input-group">
      <input type="text" placeholder="Agent ID" formControlName="cre1">
      <ion-icon name="briefcase-outline"></ion-icon>
    </div>

    <div class="input-group">
      <input type="text" placeholder="User ID" formControlName="cre2">
      <ion-icon name="person-outline"></ion-icon>
    </div>

    <div class="input-group password">
      <input [type]="passwordType" placeholder="Password" formControlName="cre3">
      <ion-icon [name]="passwordIcon" (click)="hideShowPassword()"></ion-icon>
    </div>

    <button type="submit" class="login-btn">

      <span *ngIf="loader">
        Login
      
      </span>

      <span *ngIf="!loader">
        Please Wait...
      </span>

    </button>

    <div class="divider">
      <span>OR</span>
    </div>

    <div class="signup-text">
      Not a member?
      <span class="signup">Sign Up</span>
    </div>

  </div>

</form>