<ion-row class="modify-wrapper">

  <ion-col size="12">
    <form [formGroup]="flightData">

      <div class="search-bar">

        <!-- LOGO -->


        <!-- FROM -->
        <div class="field autocomplete">
          <label>From</label>

          <input formControlName="D_airport" [(ngModel)]="depARP" (input)="filterAirports($event, 'from')"
            (focus)="showFrom = true" placeholder="Search airport">

          <!-- DROPDOWN -->
          <div class="dropdown" *ngIf="showFrom">
            <div class="option" *ngFor="let arpt of filteredAirports" (click)="selectAirport(arpt, 'from')">

              <strong>{{arpt.code}}</strong> - {{arpt.city}}
              <small>{{arpt.country}}</small>
            </div>
          </div>
        </div>

        <!-- TO -->
        <div class="field autocomplete">
          <label>To</label>

          <input formControlName="A_airport" [(ngModel)]="arrARP" (input)="filterAirports($event, 'to')"
            (focus)="showTo = true" placeholder="Search destination">

          <!-- DROPDOWN -->
          <div class="dropdown" *ngIf="showTo">
            <div class="option" *ngFor="let arpt of filteredToAirports" (click)="selectAirport(arpt, 'to')">

              <strong>{{arpt.code}}</strong> - {{arpt.city}}
              <small>{{arpt.country}}</small>
            </div>
          </div>
        </div>
        <!-- DATE -->
        <div class="field">
          <label>Departure</label>
          <input type="date" formControlName="D_date" [min]="todayt">
        </div>

        <!-- RETURN -->
        <div class="field">
          <label>Return</label>
          <input type="date" formControlName="A_date" [disabled]="round_trip">
        </div>

        <!-- PASSENGERS -->
        <div class="field pax" (click)="togglePax()">
          <label>Passengers</label>
          <div class="value">
            {{flightData.value.Adults}}A • {{flightData.value.Childs}}C • {{flightData.value.Infants}}I
          </div>

          <!-- DROPDOWN -->
          <div class="pax-dropdown" *ngIf="pax_div">
            <div class="pax-row">
              <span>Adults</span>
              <select formControlName="Adults">
                <option *ngFor="let i of adult">{{i}}</option>
              </select>
            </div>

            <div class="pax-row">
              <span>Children</span>
              <select formControlName="Childs">
                <option *ngFor="let i of childrens">{{i}}</option>
              </select>
            </div>

            <div class="pax-row">
              <span>Infants</span>
              <select formControlName="Infants">
                <option *ngFor="let i of infants">{{i}}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- BUTTON -->
        <div class="btn-wrap">
          <button type="button" (click)="checkFlight_one()" class="search-btn">
            Search
          </button>
        </div>

      </div>

    </form>
  </ion-col>

</ion-row>